<h2>Name: {{plantDetails.name}}</h2>

<img src="{{plantDetails.imageUrl}}">

<p>Care: {{plantDetails.plantCare}}</p>
<p>Placement: {{plantDetails.placement}}</p>
<p>Observations: {{plantDetails.observations}}</p>
<br>
<a href="/plants">Back</a>