{{!-- <h1>list of plants</h1>

<hr>
<div class="row">
  {{#each plantsfromDB}}
    <div class="col-md-4 mb-5">
      <div class="card" style="width: 18rem;">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{plantCare}}</p>
          <a href="/plants/{{_id}}/edit" class="btn btn-primary">Edit</a>
          <form action="/plants/{{_id}}/delete" method="POST">
    <button type="submit">Delete this Plant</button>
</form>
        </div>
      </div>
    </div>
  {{else}}
    <p>There are no plants yet!</p>
  {{/each}}
  <a href="/plants/create">Add a Plant</a>
  <hr />
</div> --}}

{{#if userInSession}}

<h1>Your plants</h1>

{{#each plantsfromDB}}
<img src="{{imageUrl}}">
<p>name: {{name}}</p>
<p>Care: {{plantCare}}</p>
<p>Placement: {{placement}}</p>
<p>Observations: {{observations}}</p>

<a href="/plants/{{_id}}">More about this plant</a>
<a href="/plants/{{_id}}/edit">Edit</a>
<form action="/plants/{{_id}}/delete" method="POST">
    <button type="submit">Delete this plant</button>
</form>
{{/each}}

<a href="/userProfile">Back to user profile</a>

{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}